.hedaer {
  display: flex;
  justify-content: space-around;
  box-shadow: 20px 20px 20px #f0f0f0;
}
.logo > img {
  width: 140px;
  margin-top: 0px;

  margin-bottom: 0px;
}
.nav-items > ul {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;

  margin-bottom: 0px;
}
.nav-items > ul > li {
  padding: 30px;
  list-style: none;
  font-size: 18px;
  font-weight: 800px;
  cursor: pointer;
}
.Search {
  padding: 20px;
}
.Restro-Card {
  width: 220px;
  padding: 10px;
  margin: 10px;

  background-color: #f0f0f0;
}

.img-hotel-mahi {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
}

.Restro-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
  margin-bottom: 20px;
}
.Footer-Layout {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.Restro-Card > li {
  list-style: none;
  padding: 5px;
}
