.hedaer {
  display: flex;
  justify-content: space-around;
  box-shadow: 20px 20px 20px #fff7ed;
  font-family: Arial, Helvetica, sans-serif;
  color: #f0f0f0;
  border-radius: 5px;
  font-weight: bold;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}
.logo > img {
  width: 140px;
  margin-top: 10px;
  border-radius: 100%;
  margin-bottom: 10px;
  width: 110px;
  padding: 10px;
}
.nav-items > ul {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.nav-items > ul > li {
  padding: 30px;
  list-style: none;
  font-size: 18px;
  font-weight: 800px;
  cursor: pointer;
}
.Search {
  padding: 20px;
}
.Restro-Card {
  width: 220px;
  padding: 10px;
  margin: 10px;

  font-family: Arial, Helvetica, sans-serif;
}

.img-hotel-mahi {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}

.Restro-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
  margin-bottom: 20px;
}
.Footer-Layout {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.Restro-Card > li {
  list-style: none;
  padding: 5px;
}
.filter-btn {
  margin: 30px;
}

.filter-btn > button {
  padding: 9px 15px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.parent-filter-search {
  display: flex;
}
.input-search {
  margin-top: 44px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid #f34079;
  font-family: Arial, Helvetica, sans-serif;
  width: 235px;
  font-weight: bold;
  margin-right: 5px;
  color: #fc894d;
}
.input-search::placeholder {
  color: #fc894d;
}
.input-search:focus {
  border-color: #f34079;
  outline: none;
  color: #fc894d;
}

.search-btn {
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.small-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title > h3 {
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  margin-top: 50px;
  margin-left: 35px;
}
.headerImagesContainer {
  display: flex;
  flex-wrap: wrap;
}
.mind-card > img {
  width: 100px;
  cursor: pointer;
}
.mind-card {
  margin-left: 30px;
  background-color: #fef2f2;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}
.shimmer-1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.circle {
  width: 70px;
  height: 70px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: inline-block;
  margin: 30px;
  cursor: pointer;
}
.shimmer-2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.card {
  background-color: #fef2f2;
  width: 220px;
  height: 220px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}
.shimmer-3 {
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
}
.button {
  height: 40px;
  width: 250px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 100px;
}
.link {
  text-decoration: none;
  color: #f0f0f0;
}
