.hedaer {
  display: flex;
  justify-content: space-around;
  box-shadow: 20px 20px 20px #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}
.logo > img {
  width: 140px;
  margin-top: 0px;

  margin-bottom: 0px;
}
.nav-items > ul {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;

  margin-bottom: 0px;
}
.nav-items > ul > li {
  padding: 30px;
  list-style: none;
  font-size: 18px;
  font-weight: 800px;
  cursor: pointer;
}
.Search {
  padding: 20px;
}
.Restro-Card {
  width: 220px;
  padding: 10px;
  margin: 10px;

  font-family: Arial, Helvetica, sans-serif;
}

.img-hotel-mahi {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
}

.Restro-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
  margin-bottom: 20px;
}
.Footer-Layout {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.Restro-Card > li {
  list-style: none;
  padding: 5px;
}
.filter-btn {
  margin: 30px;
}

.filter-btn > button {
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #a881af;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
}
.small-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title > h3 {
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  margin-top: 50px;
  margin-left: 35px;
}
.headerImagesContainer {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 20px 20px 20px #f0f0f0;
}
.mind-card > img {
  width: 100px;
  cursor: pointer;
}
.mind-card {
  margin-left: 30px;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}
